<!--regular buttons-->

<button class="btn btn--primary">Buy Now</button>
<button class="btn btn--secondary">Buy Now</button>
<a href="#" class="btn btn--accent">Buy Now</a>

<!--block buttons-->

<button class="btn btn--primary btn--block">Buy Now</button>
<button class="btn btn--secondary btn--block">Buy Now</button>
<a href="#" class="btn btn--accent btn--block">Buy Now</a>

<!--outline buttons-->

<button class="btn btn--primary btn--outline">Buy Now</button>
<button class="btn btn--secondary btn--outline">Buy Now</button>
<a href="#" class="btn btn--accent btn--outline">Buy Now</a>